<h3>名前を入力してください</h3>

<%= form_with(modal: @top, url: tops_path, local: true) do |f| %>
  
  <div class="field-form">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
  </div>

  <div class="field-form">
    <%= f.radio_button :ques_one, :yes %>
    <%= f.label :ques_one, "はい", {value: :yes, style: "display: inline-block;"} %>
    <%= f.radio_button :ques_one, :no %>
    <%= f.label :ques_one, "いいえ", {value: :no, style: "display: inline-block;"} %>
    
  </div>

  <div class="field-form">
    <%= f.submit "作成" %>
  </div>

<% end %>
