<div class="top-show">
  <h1 class="top-new-title"><%= @top.name %> さんを「<span class="strong">もの</span>」に例えると...</h1>
    <div class="top-show-body">
    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == false && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 1 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == false && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 2 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == false && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 3 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == false && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 4 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == true && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 5 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == true && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 6 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == true && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 7 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == false && @top.ques_three == true && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 8 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == false && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 9 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == false && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 10 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == false && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 11 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == false && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 12 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == true && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 13 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == true && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 14 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == true && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 15 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == false && @top.ques_two == true && @top.ques_three == true && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 16 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == false && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 17 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == false && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 18 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == false && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 19 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == false && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 20 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == true && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 21 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == true && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 22 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == true && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 23 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == false && @top.ques_three == true && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 24 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == false && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 25 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == false && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 26 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == false && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 27 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == false && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 28 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == true && @top.ques_four == false && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 29 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == true && @top.ques_four == false && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 30 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == true && @top.ques_four == true && @top.ques_five == false %>
      <% @answers.each do |answer| %>
        <% if answer.id == 31 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>

    <% if @top.ques_one == true && @top.ques_two == true && @top.ques_three == true && @top.ques_four == true && @top.ques_five == true %>
      <% @answers.each do |answer| %>
        <% if answer.id == 32 %> 
          <p><span class="top-answer"><%= answer.answer %></span>です!!</p>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="top-link d-grid gap-2">
    <%= link_to '最初の画面へ', root_path, class: 'nextpage btn btn-primary btn-lg' %>
  </div>
</div>
